html
    head
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        title Informationen zu Ihrem Angebot
        style
            include style.css
    body
        .wrapper
            .background
            .content
                h2 Informationen Ihrem Angebot
                p
                    | Ihr Angebot wurde erfolgreich bestätigt und ist ab jetzt bis zum
                    |
                    strong=expirationDate
                    |
                    | aktiv.
                p
                    div Um das Angebot zu verlängern, klicken Sie bitte auf den folgenden Button:
                    .button-wrapper
                        .button-div
                            a.button(href=extensionUrl) Angebot verlängern
                    div Falls der Button nicht funktioniert, so kopieren Sie bitte die folgende URL und öffnen diese in der Adressleiste Ihres Browsers:
                    div
                        a(href=extensionUrl)

                p
                    div Um das Angebot zu löschen, klicken Sie bitte auf den folgenden Button:
                    .button-wrapper
                        .button-div
                            a.button(href=deletionUrl) Angebot löschen
                    div Falls der Button nicht funktioniert, so kopieren Sie bitte die folgende URL und öffnen diese in der Adressleiste Ihres Browsers:
                    div
                        a(href=deletionUrl)

                p
                    .hint Diese E-Mail wurde automatisch verschickt. Bitte antworten Sie nicht darauf.




